/* colors  */

body {
  background-color: black;
  color: white;
  padding: 25px;;
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.stats-bar, .results-bar, .inventory-bar {
  margin-bottom: 25px;
}

.stats-bar-empty {
  fill: red;
  stroke-width: 2;
  stroke: white;
}

.stats-bar-fill {
  fill: cyan;
  transition: ease .5s;
}

.year-scale {
  margin: 25px;
}

.year {
  fill: red;
  stroke: white;
  stroke-width: 2;
}

.year-active {
  fill: cyan;
}

.paths {
  width: 110px;
}

.scenario-tile {
  box-sizing: border-box;
  border: 2px solid white;
  width: 25px;
  display: inline-block;
  padding: 12px;
  background-color: red;
  border-radius: 100%;
}

.active {
  background-color: cyan;
}

.navigation {
  margin: 25px;
}

.sub-nav {
  background-color: red;
  border: 2px solid white;
  margin: 6px;
  padding: 10px;
  height: 100px;
  width: 100px;
}

.sub-nav.active {
  background-color: aqua;
}
