<h1>Character Stats</h1>
<div class="stats">
  {{increment-scale value=model.stats.skill label="SKILL" class="stats-bar"}}

  {{increment-scale value=model.stats.connection label="CONNECTION" class="stats-bar"}}

  {{increment-scale value=model.stats.vision label="VISION" class="stats-bar"}}
</div>
