<h1>Character Stats for</h1>
<div class="stats">
  <IncrementScale @value={{@model.stats.skill}} @label="SKILL" class="stats-bar" />

  <IncrementScale @value={{@model.stats.connection}} @label="CONNECTION" class="stats-bar" />

  <IncrementScale @value={{@model.stats.vision}} @label="VISION" class="stats-bar" />
</div>
